# 🔥 Node.js (Frontend & Electron)
node_modules/
frontend/node_modules/
electron/node_modules/

# 🐍 Python (Backend)
venv/
backend/build/
backend/dist/
backend/homeharbor.egg-info/
__pycache__/
backend/alembic/versions/

# 🗄️ Database (PostgreSQL)
database/*.log
database/*.pid
database/*.backup
database/*.data
database/pg_*
database/postmaster*
database/base/
database/global/
database/pg_xact/
database/pg_multixact/
database/pg_subtrans/
database/pg_twophase/
database/pg_notify/
database/pg_stat_tmp/
database/pg_replslot/
database/pg_tblspc/
database/pg_wal/
database/pg_snapshots/
database/pg_commit_ts/
database/pg_dynshmem/
database/pg_logical/
database/pg_serial/
database/pg_stat/
database/pg_temp/
database/pg_statistic/
database/pg_statistic_ext/
database/postgresapp_config.plist
database/postgresql.auto.conf
database/postgresql.conf


# ⚡ Vite (Frontend)
frontend/dist/

# 🖥️ IDE & Log files
.idea/
*.log

# !important
backend/_amministrazione