/* frontend/src/pages/Paperless/Paperless.scss */
.paperless {
    &__window {
        /* TODO: Remove this */
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
