.hh-header {
    // background-color: var(--card-bg);
    border-bottom: 1px solid var(--border-color);
    height: 60px;

    .hh-title {
        font-size: 1.5rem;
        color: var(--text);
    }

    button {
        background-color: transparent;
        border: none;
    }
}

.hh-logo {
    height: 36px;
    width: auto;
}
